KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_ARCH_OBJS_PRE += \
$(KERNEL_ARCHDIR)/boot.o \
$(KERNEL_ARCHDIR)/descriptors/gdt.o \
$(KERNEL_ARCHDIR)/descriptors/gdtflush.o \
$(KERNEL_ARCHDIR)/descriptors/tss.o \
$(KERNEL_ARCHDIR)/descriptors/idt.o \
$(KERNEL_ARCHDIR)/descriptors/idtflush.o \
$(KERNEL_ARCHDIR)/isr.o \
$(KERNEL_ARCHDIR)/isrstub.o \
$(KERNEL_ARCHDIR)/irq.o \
$(KERNEL_ARCHDIR)/irqstub.o \
$(KERNEL_ARCHDIR)/modes.o \
$(KERNEL_ARCHDIR)/mem.o \
$(KERNEL_ARCHDIR)/paging.o \
$(KERNEL_ARCHDIR)/pagingstub.o \
