KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_ARCH_OBJS_PRE += \
$(ARCHDIR)/boot.o \
$(ARCHDIR)/descriptors/gdt.o \
$(ARCHDIR)/descriptors/gdtflush.o \
$(ARCHDIR)/descriptors/tss.o \
$(ARCHDIR)/descriptors/idt.o \
$(ARCHDIR)/descriptors/idtflush.o \
$(ARCHDIR)/isr.o \
$(ARCHDIR)/isrstub.o \
$(ARCHDIR)/irq.o \
$(ARCHDIR)/irqstub.o \
$(ARCHDIR)/modes.o \
$(ARCHDIR)/mem.o \
